* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

a:hover {
  opacity: 40%;
}

a:active {
  border: 1px solid rgb(255, 255, 255);
}

html,
body,
#root,
.app-container {
  height: 100%;
  margin: 0;
  background-color: rgb(32, 32, 32);
}

body {
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* ---------------------------- Header ---------------------------- */
header {
  background-color: rgb(22, 73, 18);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  padding: 10px;
  margin: 10px;
  background-color: rgb(52, 52, 126);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

/* ---------------------------- Main & Sidebar ---------------------------- */
.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h2 {
  margin: 20px;
}

.main-img-container,
.sidebar-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-img {
  max-height: 466.89px;
  max-width: 700px;
  margin: 20px 0;
  border-radius: 20px;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.thumbnail-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  margin: 5px;
}

/* ---------------------------- Footer ---------------------------- */
footer {
  background-color: rgb(22, 73, 18);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

footer > nav > a {
  background-color: transparent;
  padding: 5px;
  text-align: center;
}

/* ---------------------------- Carousel ---------------------------- */
.carousel {
  width: 100%;
  display: flex;
  gap: 1em;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding: 10px 0;
  flex-wrap: nowrap;
  background-color: rgb(68, 74, 78);
  border-radius: 20px;
  opacity: 80%;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.card {
  flex: 0 1 200px;
  max-width: 200px;
  aspect-ratio: 10 / 9;
  background-color: rgb(58, 58, 85);
  border-radius: 0.5em;
  text-align: center;
  padding: 0.2em;
  scroll-snap-align: start;
}

.card:active {
  border: 5px solid rgb(255, 255, 255);
}

.carousel {
  width: 100%;
  overflow-x: auto;
  margin: 0em auto;
  display: flex;
  gap: 1em;
  scroll-behavior: smooth;
  anchor-name: --carousel;
  scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel::scroll-button(right) {
  content: "→";
  position-area: right center;
  translate: 50%;
  scroll-behavior: smooth;
}

.carousel::scroll-button(left) {
  content: "←";
  position-area: left center;
  translate: -50%;
  scroll-behavior: smooth;
}

.carousel::scroll-button(left),
.carousel::scroll-button(right) {
  position: fixed;
  border: none;
  background-color: rgb(52, 52, 126);
  font-size: 3rem;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 20%;
  padding-bottom: 0.1em;
  cursor: pointer;
  position-anchor: --carousel;
}

.carousel::scroll-button(left):disabled,
.carousel::scroll-button(right):disabled {
  opacity: 0.5;
  cursor: auto;
}

.card {
  scroll-snap-align: start;
  flex: 0 0 20em;
  max-width: 200px;
  aspect-ratio: 10 / 9;
  background-color: rgb(58, 58, 85);
  padding: 0.2em;
  border-radius: 0.5em;
  text-align: center;
  align-content: center;
}

.card:active {
  border: 5px solid rgb(255, 255, 255);
}

/* ---------------------------- Media Queries ---------------------------- */

@media (max-width: 1200px) {
  .carousel {
    gap: 0.5em;
    width: 80%;
  }

  .carousel::scroll-button(left),
  .carousel::scroll-button(right) {
    position: fixed;
    border: none;
    background-color: rgb(52, 52, 126);
    font-size: 1rem;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 20%;
    padding-bottom: 0.1em;
    cursor: pointer;
    position-anchor: --carousel;
  }

  .carousel::scroll-button(left):hover,
  .carousel::scroll-button(right):hover {
    opacity: 40%;
  }

  .carousel::scroll-button(left):active,
  .carousel::scroll-button(right):active {
    border: 1px solid rgb(255, 255, 255);
  }

  .card {
    flex: 1 1 100%;
    max-width: 20%;
    cursor: pointer;
  }

  .card:hover {
    opacity: 40%;
    cursor: pointer;
  }

  .card:active {
    border: 1px solid rgb(255, 255, 255);
  }

  .main-img-container {
    max-width: 90%;
    height: 100%;
    padding: 0 10px;
    justify-content: flex-start;
  }

  .main-img {
    max-width: 90%;
  }
}

@media (max-width: 800px) {
  .main-container {
    height: 100%;
  }
}

@media (max-width: 600px) {
  .carousel {
    gap: 0.2em;
    width: 80%;
  }

  .unsplash-container > h1 {
    text-align: center;
    font-size: 25px;
  }

  .generated-img {
    max-width: 90%;
    max-height: 90%;
    padding: 10px;
    margin: 10px auto;
  }

  .carousel::scroll-button(left),
  .carousel::scroll-button(right) {
    position: fixed;
    border: none;
    background-color: rgb(52, 52, 126);
    font-size: 1rem;
    color: white;
    height: 30px;
    width: 30px;
    border-radius: 20%;
    padding-bottom: 0.1em;
    cursor: pointer;
    position-anchor: --carousel;
  }

  .card {
    flex: 1 1 100%;
    max-width: 20%;
  }

  .main-img-container {
    max-width: 90%;
    height: 100%;
    padding: 0 10px;
    justify-content: flex-start;
  }

  .main-img {
    max-width: 90%;
  }
}

@media (max-width: 500px) {
  header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  h2 {
    grid-row-start: 1;
  }
  nav {
    grid-row-start: 2;
    margin-top: 20px;
  }
  footer {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

/* ---------------------------- Unsplash Area ---------------------------- */

.unsplash-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.unsplash-container > button {
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(52, 52, 126);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  border: 0;
}

.unsplash-container > button:hover {
  opacity: 40%;
  cursor: pointer;
}

.unsplash-container > button:active {
  border: 1px solid rgb(255, 255, 255);
}

.generated-img {
  width: 100%;
  max-width: 600px;
  max-height: 600px;
  height: auto;
  padding: 0;
  margin: 10px auto;
  border-radius: 20px;
  display: block;
}

/* ---------------------------- Search Area ---------------------------- */

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#filter-select,
option {
  padding: 10px;
  margin: 10px;
  color: black;
}
